*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
        --white: #fafafb;
        --purple: #9a67ea;
        --blueLight: #04d4c3;
        --blueDark: #2a73c2;
        --green: #2c7b90;
}

body{
    background: linear-gradient(to bottom, var(--purple),var(--blueLight));
    height: 100vh;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.container{
    max-width: 80%;
    width: 400px;
    height: 600px;
    margin: 0 auto;
}

/*--Class Perfil--*/
h1{
    color: var(--white);
}

.perfil span{
    color: var(--white);
    letter-spacing: 1px;
}

#fecha{
    color: var(--white);
    padding: 50px 0px 50px 0px;
}

/*Agregar Tarea*/

.agregarTareas{
    background-color: var(--white);
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 10px;
    margin: 40px 0px;
}

.agregarTareas input{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: var(--white);
    padding-left: 10px;
}

.agregarTareas i{
    font-size: 50px;
    color: var(--purple);
}

.agregarTareas i:hover{
    transform: scale(1.1);
    cursor: pointer;
}












